<div id="content" class="scrollbar">

    <h1>Industry 4.0 </h1>
    <div>Cogvision’s vision based “Inspection AI” framework will empower companies to move towards Intelligent/Smart factories that are using combination of Artificial Intelligence, Smart machines, IoT, Automation and cloud computing. </div>
    <div>We have created our own cognitive environment using proprietary mathematical and analytical models that deliver high precision and accurate results.</div>
    <img class="img-fluid" src='https://placehold.it/1300x768' alt=''/>
    <hr/>
    <h1>Vision based Poka-yoke</h1>
    <div>What is Poka-yoke?  </div>
    <div>Mistake proofing/ Fool proofing, or its Japanese equivalent poka-yoke (pronounced PO-ka yo-KAY), is the use of any automatic device or method that either makes it impossible for an error to occur or makes the error immediately obvious once it has occurred. It is a common process analysis tool.</div>
    <div>Cogvision has built an AI framework, which will facilitate poka-yoke in Industrial inspection by helping manufacturing companies drive towards zero defects. Additionally, to reduce overall production costs associated due to delay or repeated processes due to human errors which can be controlled effectively using Cogvision’s Poka Yoke AI framework.</div>
    <div>It also helps management at all levels to streamline the manufacturing process.</div>
    <img class="img-fluid" src='https://placehold.it/1300x768' alt=''/>
    <hr/>

    <h1>Quality Inspection </h1>
    <div>Cogvision has explicitly built industry specific AI powered vision based programs which are available Out of the Box and can be customizable to the client requirements. Given below are Cogvision’s of the shelf programs that are readily available for implementation.
        <ul>
            <li>Assembly Inspection</li>
            <li>Part Inspection</li>
            <li>Sealant Inspection</li>
            <li>Gap Inspection</li>
            <li>Label Inspection</li>
            <li>Defect Analysis</li>
            <li>Additional: Bar Code Scanner, QR Code Analyzer, RFID Reader Interface</li>
        </ul>
    </div>
    <img class="img-fluid" src='https://placehold.it/1300x768' alt=''/>
    <hr/>

    <h1>Cogvision’s Vision based AI can also be integrated with other existing manufacturing systems/IOT devices to help industries become more intelligent.</h1>
    <div>     Example: AGV (Automated Guided Vehicles), Factory workflows, Production Line and Employee/Safety & Security    </div>
    <img class="img-fluid" src='https://placehold.it/1300x768' alt=''/>
    <hr/>

</div>